@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Exo:wght@400;600&family=Raleway:wght@400;500;600;700&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
    font-family: 'Exo', sans-serif;
}

.container {
    margin: 0 auto;
    background-color: #0A0A0B;
}

/* Navbar start */

.header {
    width: 1099px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;
}

.home {
    width: 1280px;
    height: 879px;
    margin-left: -5px;
    margin-top: 6px;
    gap: 88px;
}

.logo {
    display: flex;
    width: 71px;
    height: 22px;
    margin-left: 17px;
    margin-top: 29px;
}

.list {
    display: flex;
    margin: 37px 21px 0px;
}

.pages {
    display: flex;
    text-decoration: none;
    margin-left: 48px;
}

.home-page-link {
    text-decoration: none;
    color: #4177DC;
    transition: 0.5s;
}

.home-page-link:hover {
    color: #fff;
    transition: 0.5s;
}

.page-links {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.page-links:hover {
    color: #4177DC;
    transition: 0.5s;
}

/* Navbar end */

/* Homepage start */

.home {
    margin: 0 auto;
}

.home-title {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.home-title1 {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.flashlight {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

.car-img {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


.data-home2 {
    margin-left: 104px;
    margin-right: 104px;
}

.home-icon {
    text-align: center;
}

.number {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}

.home-text {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    text-align: center;
    color: #888B91;
}

.km {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.btn-home {
    text-align: center;
    margin-bottom: 26px;
}

.btn-home:hover {
    cursor: pointer;
}

/* Hompage end */

/* About start */

.about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about-container {
    display: flex;
    width: 1280px;
    height: 372px;
    margin-left: 155px;
    margin-top: 72px;
    margin-bottom: 88px;
    gap: 88px;
}


.data-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    gap: 10px;
}

.data-about>h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: #F1F2F3;
    margin-bottom: 24px;
}

.data-about>p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #BABEC4;
}

.about-btn {
    width: 149px;
    height: 50px;
    left: 723px;
    top: 275px;
    background: #4177DC;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
}

.about-btn:hover {
    background-color: #BABEC4;
    color: #4177DC;
    cursor: pointer;
}

/* Popular start */

.popular {
    padding: 72px 0px 48px;
    width: 1280px;
    height: 636px;
    margin: 0 auto;
    margin-bottom: 64px;
}

.popular>h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #F1F2F3;
    margin: 72px auto;
}

.wrapper-popular {
    display: flex;
    gap: 48px;
    width: 258px;
    height: 328px;
    left: 212.5px;
    top: 132px;
    margin: 0 55px auto 305px;
}

.card {
    width: 258px;
    height: 328px;
    background: #111213;
    border-radius: 20px;
    margin: 32px 0 24px 22px;
}

.properties {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: -17px;
}

.electric {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}

.card>h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: #F1F2F3;
}

.porsche {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BABEC4;
}

.properties>p {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    color: #FFFFFF;
}

.electric>p {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    color: #FFFFFF;
}

.price-buy {
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
}

.price-buy img:hover {
    cursor: pointer;
}


.price {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
}

/* About end */

/* Feature start */

.featured h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #F1F2F3;
    margin-bottom: 64px;
}

.featured {
    margin: 0 auto;
    width: 1280px;
    height: 713px;
    background-image: url(/icons/Map.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.featured>img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 152px;
}



/* Feature end */

/* Feature2 start */

.featured-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 83px;
}


.btn-all {
    width: 52px;
    height: 52px;
    left: 488px;
    top: 82px;
    background-color: #4177DC;
    border-radius: 16px;
}

.btn {
    width: 52px;
    height: 52px;
    left: 572px;
    top: 82px;
    background: #111213;
    border-radius: 16px;
    border: none;
    color: #FFFFFF;
}

.btn:hover {
    cursor: pointer;
    background-color: #4177DC;
    color: #111213;
}

.featured2 {
    margin: 0 auto;
    width: 1280px;
    height: 952px;
    background: #0A0A0B;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.featured2>h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #F1F2F3;
    margin-top: 72px;
    margin-bottom: 48px;
}

.wrapper-featured2 {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    margin: 72px 196px;
}

.card-featured2 {
    width: 248px;
    height: 312px;
    left: 196px;
    top: 206px;
    background: #111213;
    border-radius: 20px;
}

.card-featured2 h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: #F1F2F3;
    margin-top: 32px;
    margin-left: 24px;
}

.card-featured2 p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BABEC4;
    margin-left: 24px;
    margin-bottom: 32px;
}

.card-featured2 img {
    margin-left: 16px;
}

.card-featured2 h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #F1F2F3;
    margin-left: 24px;
    margin-bottom: 32px;
}

.buy {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.buy img:hover {
    cursor: pointer;
}

/* Feature2 end */

/* Offer start */

.offer {
    width: 100%;
    height: 392px;
    background-image: url(/images/subscribe-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.data-offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.data-info {
    margin-left: 187px;
    margin-top: 72px;
}

.data-info button:hover {
    cursor: pointer;
    background-color: #F1F2F3;
    color: #4177DC;
}

.data-offer img {
    margin-top: 89px;
    margin-right: 198px;
}

.data-offer h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: #F1F2F3;
    margin-bottom: 32px;
}

.data-offer p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BABEC4;
    margin-bottom: 35px;
}

.data-offer button {
    width: 174px;
    height: 50px;
    left: 187px;
    top: 214px;
    background: #4177DC;
    border-radius: 4px;
    margin-bottom: 58px;
    color: #FFFFFF;
    border: none;
}

/* Offer end */

/* Logos start */

.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 106px;
    padding: 72px;
    width: 1280px;
    height: 204px;
    background: #0A0A0B;
}

.logos img:hover {
    cursor: pointer;
    background-color: #111213;
}

/* Logos end */

/* Footer start */

.footer {
    width: 1280px;
    height: 395px;
    background: #0A0A0B;
    margin: 0 auto;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 72px 32px;
    margin-left: 130px;
    margin-right: 130px;
    gap: 166px;
}

.footer-content1 {
    display: flex;
    flex-direction: column;
    line-height: 100px;
}

.footer-content1 img {
    width: 110px;
    height: 34px;
    left: 128px;
    top: 0px;
}

.footer-content1 p {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    color: #BABEC4;
}

.footer-content2 h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #F1F2F3;
    margin-bottom: 24px;
}

.footer-content2 p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BABEC4;
}

.footer-content2 p:hover {
    cursor: pointer;
    color: #4177DC;
}

.footer-content3 h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #F1F2F3;
    margin-bottom: 24px;
}

.footer-content3 p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BABEC4;
}

.footer-content3 p:hover {
    cursor: pointer;
    color: #4177DC;
}

.footer-social h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #F1F2F3;
    margin-bottom: 24px;
}

.social-icons {
    display: flex;
    gap: 30px;
}

.social-icons:hover {
    cursor: pointer;
}

/* Footer end */